---
import { Debug } from 'astro:components';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

// paginate:any is just to stop TS error which isn't a real error in Astro
export async function getStaticPaths({ paginate }: { paginate: any }) {
  const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
  );

  return paginate(posts, { pageSize: 2 });
}

function postUrl(post: any) {
  const d = new Date(post.data.date);
  return `/blog/${d.getFullYear()}/${String(d.getMonth() + 1).padStart(2, '0')}/${String(d.getDate()).padStart(2, '0')}/${post.id}`;
}

// manually defined so vscode doesn't show errors
// it will still work without
interface Props {
  page: {
    data: CollectionEntry<'blog'>[];
    start: number;
    end: number;
    size: number;
    total: number;
    currentPage: number;
    lastPage: number;
    url: {
      prev?: string;
      next?: string;
    };
  };
}

const { page } = Astro.props as Props;
---

<BaseLayout>
  <h1>
    <!-- Blog {page.currentPage > 1 ? ' - Page ' + page.currentPage : ''} -->
    Blog page {page.currentPage}
  </h1>
  <!-- {
    page.currentPage == 1 && (
      <p>
        <strong>Welcome to our blog!</strong>
      </p>
    )
  } -->
  <ul>
    {
      page.data.map((post) => (
        <li>
          <a href={postUrl(post)}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>

  <nav>
    {page.url.prev && <a href={page.url.prev}>Previous page</a>}
    {page.url.next && <a href={page.url.next}>Next page</a>}
  </nav>
</BaseLayout>
<!-- <Debug {page} /> -->
