---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

function postUrl(post: CollectionEntry<"blog">) {
  const d = new Date(post.data.date);
  return `/blog/${d.getFullYear()}/${String(d.getMonth() + 1).padStart(2, "0")}/${String(d.getDate()).padStart(2, "0")}/${post.id}`;
}

const date = new Date(post.data.date);
const formattedDate = date.toLocaleDateString("en-GB", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li class="post-item">
  <a href={postUrl(post)} class="post-link">
    <article>
      {
        post.data.cover && post.data.coverAlt && (
          <div class="post-thumbnail">
            <Image src={post.data.cover} alt={post.data.coverAlt} />
          </div>
        )
      }
      <div class="post-meta">
        <p class="post-date">
          <time datetime={date.toISOString()}>{formattedDate}</time>
        </p>
        <h2>{post.data.title}</h2>
        {post.data.author && <p class="post-author">{post.data.author}</p>}
        {
          post.data.description && (
            <p class="post-description">{post.data.description}</p>
          )
        }
      </div>
    </article>
  </a>
</li>
