---
import { Debug } from 'astro:components';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import MainNav from './MainNav.astro';
const locale = Astro.currentLocale;
const urlPrefix = locale === 'en' ? '' : `/${locale}`;
const currentPath = Astro.url.pathname;
const href = (p: string) => `${urlPrefix}${p}`;
const currentPathWithoutLocale = currentPath.replace(urlPrefix, '') || '/';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="site-header">
  <a
    href={href('')}
    class="logo-link"
  >
    <img
      src=""
      alt=""
      class="logo-image"
    />
  </a>
  <button
    type="button"
    id="mobileNavButton"
    class="hamburger mobile-main-nav-button"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <MainNav />
  <div class="languages-container">
    <button
      type="button"
      id="showLanguagesButton"
      class="show-languages-button"
      aria-label="Select language"
      aria-expanded="false"
      >{locale}</button
    >
    <nav
      id="langNav"
      class="lang-nav"
    >
      <ul class="lang-nav-list">
        <li class="lang-nav-list-item">
          <a
            href={currentPathWithoutLocale}
            class="lang-nav-link"
            >en</a
          >
        </li>
        <li class="lang-nav-list-item">
          <a
            href={`/cy${currentPathWithoutLocale}`}
            class="lang-nav-link"
            >cy</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
<script>
  const langButton = document.getElementById('showLanguagesButton');
  const langNav = document.getElementById('langNav');
  langButton?.addEventListener('click', () => {
    langNav?.classList.toggle('show');
  });

  document.addEventListener('click', (e) => {
    if (e.target != langButton) {
      langNav?.classList.remove('show');
    }
  });

  const mobileNavButton = document.getElementById('mobileNavButton');
  const mainNav = document.getElementById('mainNav');
  mobileNavButton?.addEventListener('click', function () {
    this.classList.toggle('active');

    if (this.classList.contains('active')) {
      mainNav?.classList.add('show');
    } else {
      mainNav?.classList.remove('show');
    }
  });
</script>
