---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslations } from '@i18n/utils';
import type { Lang } from '@i18n/ui';

const locale = Astro.currentLocale as Lang;

const t = useTranslations(locale);

const homeUrl = getRelativeLocaleUrl(locale, '');
const demoUrl = getRelativeLocaleUrl(locale, 'demo');
const eventsUrl = getRelativeLocaleUrl(locale, 'events');
const docsUrl = getRelativeLocaleUrl(locale, 'docs');
const blogUrl = getRelativeLocaleUrl(locale, 'blog');
const commUrl = getRelativeLocaleUrl(locale, 'community');
---

<nav
  id="mainNav"
  class="main-nav"
>
  <ul class="main-nav-list">
    <li class="main-nav-list-item">
      <a
        href={homeUrl}
        class="main-nav-link"
        >{t('nav.home')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={demoUrl}
        class="main-nav-link"
        >{t('nav.demo')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={eventsUrl}
        class="main-nav-link"
        >{t('nav.events')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={docsUrl}
        class="main-nav-link"
        >{t('nav.documentation')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={blogUrl}
        class="main-nav-link"
        >{t('nav.blog')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={commUrl}
        class="main-nav-link"
        >{t('nav.community')}</a
      >
    </li>
  </ul>
</nav>
