---
import type { GetStaticPaths } from 'astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import { siteConfig, blogCollectionLocales } from '@config/site';
import BlogPostItem from '@components/BlogPostItem.astro';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const defaultPosts = await getCollection(blogCollectionLocales['en']);
  const localePosts = await getCollection(blogCollectionLocales['cy']);

  const postsMap = new Map();

  for (const post of defaultPosts) {
    postsMap.set(post.id, post);
  }

  for (const post of localePosts) {
    postsMap.set(post.id, post);
  }

  const posts = Array.from(postsMap.values());
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

  return paginate(posts, {
    pageSize: siteConfig.blog.postsPerPage,
  });
};

// manually defined so vscode doesn't show errors
// it will still work without
interface Props {
  page: {
    data: CollectionEntry<'blog' | 'blogCy'>[];
    start: number;
    end: number;
    size: number;
    total: number;
    currentPage: number;
    lastPage: number;
    url: {
      prev?: string;
      next?: string;
    };
  };
}

const { page } = Astro.props as Props;
const pageTitle = 'Blog page ' + page.currentPage;
---

<BaseLayout
  pageTitle={pageTitle}
  mainClass="blog-page-main"
>
  <div class="blog-header">
    <h1>
      Blog {page.currentPage > 1 && <span> Page {page.currentPage}</span>}
    </h1>
  </div>

  <section class="post-list">
    <ul>
      {page.data.map((post) => <BlogPostItem post={post} />)}
    </ul>

    <nav class="pagination">
      {page.url.prev && <a href={page.url.prev}>← Newer posts</a>}
      {page.url.next && <a href={page.url.next}>Older posts →</a>}
    </nav>
  </section>
</BaseLayout>
